*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* Start nav home section */

.nav-home{
    background: linear-gradient(to right, #1e8176 51%, #1a294abd 106%);
}

.nav-home .logo{
    font-family: 'Dantene', sans-serif;
    font-size: 28px;
    font-weight: 300;
}

.nav-home .nav-items li a{
    color: white !important;
    font-family: "Titan One", sans-serif;
    font-size: 19px;
    font-weight: 200;

}
@media only screen and (max-width:576px){
    .nav-home .logo{
        font-size: 22px;
    }
}


/* End nav home section */

/* Start header home section */

.header-home{
    height: 550px;
    background: linear-gradient(to right, #1e8176d4 27%, #152342c7 108%), url(../media/img/pg-1.jpg);
    background-size: cover;
    background-position: center ;
    text-align: center;
    box-shadow: 20px 20px 6px 20px #82e2e5;
    /* border-bottom-style:solid ; */

}

.typewriter h1{
    overflow: hidden;
    /* border-right: .10em solid #1e8176d4; */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: typing 2.0s steps(30, end) forwards;
    /* لاحظ: شيلنا blink-caret من الأنميشن */
  }
  
@keyframes typing {
from { width: 0% }
to { width: 100% }
}

.header-home h1{
    font-size: 47px;
    font-weight: 400;
    font-family: 'Dantene', sans-serif;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}



.header-home h2{
    font-family: "Titan One", sans-serif;
    font-size: 31px;
    font-weight: 300;
    color: #b2bb72;
}

.header-home p{
    font-family: "Titan One", sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: beige;
}

@media only screen and (max-width:768px){
    .header-home h1{
        font-size: 35px;
    }

    .header-home h2{
        font-size: 25px;
    }

    .header-home p{
        font-size: 20px;
    }

}

@media only screen and (max-width:576px){
    .header-home h1{
        font-size: 25px;
    }

    .header-home h2{
        font-size: 22px;
    }

    .header-home p{
        font-size: 20px;
    }
}

@media only screen and (max-width:400px){
    .header-home h1{
        font-size: 20px;
    }

    .header-home h2{
        font-size: 19px;
    }

    .header-home p{
        font-size: 16px;
    }
}
/* End header home section */

/* Start skills home section */

.skills-home{
    background: linear-gradient(to right, #19706b 20%, #112b43 106%) ;
    min-height: 500px;
    
}

.skills-home .hrader-skills h2{
    margin: 30px 0px;
    color: white;
    font-family: "Dantene", sans-serif;
    font-size: 57px;
    text-shadow: 14px 11px 3px #00000059;

}

.skills-home .icon-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #b2bb72;
    border-radius: 50%;
    margin-bottom: 30px;
}

.skills-home .icon-skills {
    color: white;
    font-size: 100px;
    font-family: "Titan One";
}

.skills-home .icon-skills p{
    font-size: 85px;
}

.skills-home .icon-skills p:nth-of-type(2){
    margin-top: -38px;
    font-size: 21px;
    color: #123348;
}


/* End skills home section */   
